<section id="main">
  <div class="featured-menu">
    <a href="https://www.injuredgadgets.com/quality-standards/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 21 20"
      >
        <path d="M9.25.945a8.305 8.305 0 1 0 0 16.61 8.305 8.305 0 0 0 0-16.61zM0 9.25a9.25 9.25 0 1 1 18.5 0 9.25 9.25 0 0 1-18.5 0z"></path>
        <path d="M19.24 1.894a.472.472 0 0 1 0 .668l-9.656 9.655a.472.472 0 0 1-.668 0L4.527 7.828a.472.472 0 0 1 .668-.668l4.055 4.055 9.321-9.321a.472.472 0 0 1 .668 0z"></path>
      </svg>
      <span>Quality Standards</span>
    </a>
    <a href="https://www.injuredgadgets.com/shipping-policy/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="39"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 39 20"
      >
        <path d="M27.568 16.294h-8.962a.417.417 0 1 1 0-.835h8.545V.834H8.45v1.467a.417.417 0 0 1-.835 0V.417c0-.23.187-.417.417-.417h19.535a.417.417 0 0 1 .417.417v15.46a.417.417 0 0 1-.417.416zm-16.023 0H8.033a.417.417 0 0 1-.417-.417v-2.101a.417.417 0 1 1 .834 0v1.683h3.095a.417.417 0 1 1 0 .835z"></path>
        <path d="M37.116 16.294a.417.417 0 0 1-.417-.414l-.04-5.896-4.275-4.488h-4.399v9.963h2.37a.417.417 0 1 1 0 .835h-2.787a.417.417 0 0 1-.417-.417V5.079a.417.417 0 0 1 .417-.417h4.995c.114 0 .223.047.302.13l4.512 4.736a.418.418 0 0 1 .115.285l.041 6.06a.417.417 0 0 1-.414.42h-.003z"></path>
        <path d="M33.735 10.232h-3.53a.417.417 0 0 1-.418-.417V5.08a.417.417 0 0 1 .834 0V9.4h3.114a.417.417 0 0 1 .417.417.417.417 0 0 1-.417.416zM13.752 18.5c-1.447 0-2.624-1.177-2.624-2.623s1.176-2.624 2.624-2.624 2.623 1.177 2.623 2.624-1.177 2.623-2.623 2.623zm0-4.413c-.987 0-1.79.803-1.79 1.79a1.792 1.792 0 0 0 1.79 1.789c.987 0 1.79-.803 1.79-1.79a1.792 1.792 0 0 0-1.79-1.789zm18.81 4.413c-1.446 0-2.623-1.177-2.623-2.623s1.177-2.624 2.624-2.624 2.623 1.177 2.623 2.624S34.01 18.5 32.563 18.5zm0-4.413c-.986 0-1.79.803-1.79 1.79s.804 1.789 1.79 1.789 1.79-.803 1.79-1.79a1.792 1.792 0 0 0-1.79-1.789zm-14.76-5.524H.417a.417.417 0 0 1 0-.834h17.384a.417.417 0 0 1 0 .834zm0-3.53H4.83a.417.417 0 0 1 0-.834H17.8c.23 0 .417.187.417.417a.418.418 0 0 1-.417.417zm0 7.061H4.83a.417.417 0 1 1 0-.834H17.8a.417.417 0 0 1 .417.417c0 .23-.187.417-.417.417z"></path>
      </svg>
      <span>Shipping</span>
    </a>
    <a href="https://www.injuredgadgets.com/return_policy/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 19 20"
      >
        <path d="M7.329.03a.473.473 0 0 1 .331 0l7.022 2.633c.185.07.307.246.307.443V9.25c0 2.844-1.889 5.159-3.672 6.72a19.517 19.517 0 0 1-2.475 1.827l-.817.483-.232.125-.063.033-.017.009-.005.002h-.001v.001l-.212-.422-.212.422-.002-.001-.005-.002-.017-.01-.063-.032-.232-.125-.817-.483a19.51 19.51 0 0 1-2.475-1.828C1.89 14.41 0 12.094 0 9.25V3.106c0-.197.122-.373.306-.443L7.33.03zm.166 17.998-.212.422a.47.47 0 0 0 .423 0l-.212-.422zm0-.535-.073-.04-.774-.457c-.644-.402-1.5-.99-2.354-1.738C2.567 13.747.944 11.672.944 9.25V3.433L7.495.977l6.55 2.456V9.25c0 2.422-1.622 4.497-3.35 6.008a18.565 18.565 0 0 1-2.353 1.738l-.774.457-.073.04z"></path>
        <path d="M17.484 1.894a.472.472 0 0 1 0 .668l-9.656 9.655a.472.472 0 0 1-.668 0L2.772 7.828a.472.472 0 0 1 .668-.668l4.055 4.055 9.32-9.321a.472.472 0 0 1 .669 0z"></path>
      </svg>
      <span>Warranties &amp; Returns</span>
    </a>
    <a href="https://www.injuredgadgets.com/buyback/customer/lcdbuyback/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 13 20"
      >
        <g fill="#333">
          <path d="M8.238.087v.958l-.022.538c-.028.207-.103.494-.346.737s-.53.318-.737.346a4.235 4.235 0 0 1-.538.023h-2.09c-.167 0-.367 0-.538-.023-.207-.028-.494-.103-.737-.346s-.318-.53-.346-.737a4.216 4.216 0 0 1-.023-.538V.087h5.377zM7.4.925v.087c0 .395 0 .593-.123.715a.311.311 0 0 1-.043.036c-.125.087-.32.087-.672.087H4.538c-.351 0-.547 0-.672-.086a.311.311 0 0 1-.043-.037c-.123-.123-.123-.32-.123-.715V.925h3.7z"></path>
          <path d="M7.746.838H3.354L1.625.892c-.363.05-.477.128-.541.192s-.143.178-.192.541c-.052.389-.054.915-.054 1.73v11.792l.054 1.728c.05.364.128.478.192.542s.178.143.541.192c.388.052.915.054 1.729.054h4.392l1.728-.054c.364-.05.478-.128.542-.192s.143-.178.192-.541c.052-.388.053-.915.053-1.729V3.354l-.053-1.729c-.05-.363-.128-.477-.192-.541S9.838.941 9.475.892C9.087.84 8.56.838 7.746.838zM.491.491C0 .982 0 1.773 0 3.354v11.792c0 1.581 0 2.372.491 2.863s1.282.491 2.863.491h4.392c1.581 0 2.372 0 2.863-.491s.491-1.282.491-2.863V3.354c0-1.581 0-2.372-.491-2.863S9.327 0 7.746 0H3.354C1.773 0 .982 0 .49.491z"></path>
          <path d="M6.475 14.8a.925.925 0 0 1-1.85 0 .925.925 0 0 1 1.85 0z" fill-rule="nonzero"></path>
        </g>
        <path d="M2.158 9.429a3.352 3.352 0 0 1 3.36-3.36 3.352 3.352 0 0 1 3.359 3.36 3.352 3.352 0 0 1-3.36 3.359 3.352 3.352 0 0 1-3.359-3.36z" fill="#d9d9d9" fill-rule="nonzero"></path>
        <path d="M4.75 5.925a3.572 3.572 0 0 1 4.204 2.52 3.577 3.577 0 0 1-.068 2.151 3.558 3.558 0 0 1-.413.82l.391-.056a.193.193 0 0 1 .198.104c.059.106-.01.253-.13.274l-.842.122c-.086.008-.144.003-.197-.045a.19.19 0 0 1-.058-.106l-.12-.88c-.015-.102.067-.203.17-.212s.202.065.213.166l.056.397a.145.145 0 0 0 .033-.034c.324-.5.508-1.092.51-1.689a3.154 3.154 0 0 0-.722-2.066 3.169 3.169 0 0 0-1.257-.926 3.169 3.169 0 0 0-1.485-.225 3.175 3.175 0 0 0-1.368.45c-.053.032-.107.075-.172.074s-.124-.032-.162-.083a.195.195 0 0 1 .046-.265 3.561 3.561 0 0 1 1.172-.49zm-1.805 1.04c.076-.009.147-.003.199.047s.06.129.067.199l.11.785a.192.192 0 0 1-.38.06l-.062-.427a3.188 3.188 0 0 0-.491 2.37 3.174 3.174 0 0 0 .746 1.524 3.176 3.176 0 0 0 2.383 1.073c.576.003 1.15-.16 1.642-.457.054-.031.105-.074.168-.079.07-.008.14.027.179.085a.196.196 0 0 1-.047.264 3.558 3.558 0 0 1-1.761.569 3.579 3.579 0 0 1-3.517-2.295 3.567 3.567 0 0 1-.23-1.42 3.561 3.561 0 0 1 .61-1.853l-.39.055c-.102.017-.206-.063-.217-.165s.058-.2.156-.216l.835-.12zm2.382.587a.194.194 0 0 1 .206-.166.194.194 0 0 1 .176.17l.002.23c.222.037.437.134.599.292.124.12.216.275.251.445a.193.193 0 0 1-.378.075c-.049-.209-.239-.354-.437-.409a.818.818 0 0 0-.672.101.51.51 0 0 0-.227.338c-.013.1 0 .21.063.29s.155.132.247.175c.254.113.534.147.792.25.202.078.403.194.52.383a.808.808 0 0 1 .035.747c-.141.312-.462.512-.793.565l-.002.228a.193.193 0 0 1-.206.172.193.193 0 0 1-.177-.172l-.002-.229a1.114 1.114 0 0 1-.613-.305.866.866 0 0 1-.237-.432.193.193 0 0 1 .377-.074c.05.214.25.361.455.414.247.062.53.015.723-.16a.465.465 0 0 0 .16-.406.347.347 0 0 0-.156-.256c-.144-.1-.315-.15-.482-.198-.243-.062-.49-.126-.707-.256a.782.782 0 0 1-.33-.365.828.828 0 0 1 .064-.737c.16-.262.448-.427.747-.475l.002-.235z" fill-rule="nonzero" fill="#000"></path>
      </svg>
      <span>LCD Buyback</span>
    </a>
    <a href="https://www.repairdesk.co/injured-gadgets-integration">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 20 20"
      >
        <path d="M9.175 13.166a3.991 3.991 0 1 0 0-7.982 3.991 3.991 0 0 0 0 7.982zm0 1.095a5.086 5.086 0 1 0 0-10.172 5.086 5.086 0 0 0 0 10.172z"></path>
        <path d="M9.175 3.991a1.448 1.448 0 1 0 0-2.896 1.448 1.448 0 0 0 0 2.896zm0 1.095a2.543 2.543 0 1 0 0-5.086 2.543 2.543 0 0 0 0 5.086zm0 12.319a1.448 1.448 0 1 0 0-2.896 1.448 1.448 0 0 0 0 2.896zm0 1.095a2.543 2.543 0 1 0 0-5.086 2.543 2.543 0 0 0 0 5.086zm6.782-7.877a1.448 1.448 0 1 0 0-2.896 1.448 1.448 0 0 0 0 2.896zm0 1.095a2.543 2.543 0 1 0 0-5.086 2.543 2.543 0 0 0 0 5.086zM2.543 10.623a1.448 1.448 0 1 0 0-2.896 1.448 1.448 0 0 0 0 2.896zm0 1.095a2.543 2.543 0 1 0 0-5.086 2.543 2.543 0 0 0 0 5.086z"></path>
      </svg>
      <span>POS Integration</span>
    </a>
    <a href="https://www.injuredgadgets.com/finance/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 20 20"
      >
        <path d="M9.25 17.5a8.25 8.25 0 1 0 0-16.5 8.25 8.25 0 0 0 0 16.5zm0 1a9.25 9.25 0 1 0 0-18.5 9.25 9.25 0 0 0 0 18.5z"></path>
        <path d="M8.756 4.43A.503.503 0 0 1 9.289 4a.5.5 0 0 1 .456.44l.005.598c.576.095 1.132.345 1.552.754.322.31.56.713.652 1.152a.5.5 0 0 1-.98.194c-.126-.539-.618-.915-1.132-1.057-.581-.16-1.24-.085-1.742.26-.297.203-.536.513-.588.875-.032.259 0 .543.163.755s.403.34.64.45c.659.294 1.385.382 2.053.65.524.201 1.045.502 1.348.992.352.575.37 1.327.09 1.935-.367.808-1.197 1.327-2.056 1.464l-.004.591a.5.5 0 0 1-.534.445.5.5 0 0 1-.458-.446l-.005-.592a2.886 2.886 0 0 1-1.59-.792 2.242 2.242 0 0 1-.614-1.118.5.5 0 0 1 .98-.193c.128.556.644.937 1.176 1.072.64.163 1.377.04 1.875-.412.293-.26.474-.659.415-1.053a.9.9 0 0 0-.406-.664c-.374-.259-.816-.39-1.25-.512-.628-.161-1.27-.327-1.831-.665-.369-.22-.688-.542-.852-.944a2.148 2.148 0 0 1 .164-1.91c.413-.68 1.16-1.106 1.934-1.232l.006-.608z" fill-rule="nonzero"></path>
      </svg>
      <span>Financing</span>
    </a>
    <a href="https://www.injuredgadgets.com/glass-grip/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="20"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 13 20"
      >
        <path d="M.5 5.524a1.497 1.497 0 0 1 1.5-1.5h4.986a1.497 1.497 0 0 1 1.5 1.5V16.5a1.497 1.497 0 0 1-1.5 1.5H2a1.497 1.497 0 0 1-1.5-1.5z" stroke="#333" stroke-linejoin="miter" fill="none"></path>
        <path d="M9.216.078v.867l-.02.488c-.026.187-.094.446-.313.666s-.48.288-.667.313a3.83 3.83 0 0 1-.488.02h-1.89c-.151 0-.332 0-.487-.02-.188-.025-.447-.093-.667-.313s-.287-.48-.312-.667A3.813 3.813 0 0 1 4.35.946V.078h4.865zm-.759.759v.078c0 .358 0 .537-.111.648a.284.284 0 0 1-.04.033c-.113.078-.29.078-.607.078h-1.83c-.32 0-.496 0-.61-.078a.285.285 0 0 1-.038-.033c-.111-.111-.111-.29-.111-.648V.837h3.347z" fill="#333" stroke="none"></path>
        <path d="M2.262 2a1.497 1.497 0 0 1 1.5-1.5h6.043a1.497 1.497 0 0 1 1.5 1.5v12.738a1.497 1.497 0 0 1-1.5 1.5H3.762a1.497 1.497 0 0 1-1.5-1.5z" stroke="#333" stroke-linejoin="miter" fill="none"></path>
        <g stroke="none" fill="#333">
          <path d="M5.946 13.39a.835.835 0 1 1 1.674 0 .835.835 0 1 1-1.674 0z" fill-rule="nonzero"></path>
          <path d="M6.463 6.81a.38.38 0 0 1-.06.534L2 10.868a.38.38 0 0 1-.474-.593L5.93 6.751a.38.38 0 0 1 .533.06zm0 2.644a.38.38 0 0 1-.06.533L2 13.51a.38.38 0 0 1-.474-.592L5.93 9.394a.38.38 0 0 1 .533.06z"></path>
        </g>
      </svg>
      <span>Screen Protection</span>
    </a>
    <a href="https://l6b9e7jk5c0.typeform.com/to/SbEBxgBn?typeform-source=www.injuredgadgets.com">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 20 20"
      >
        <path d="M8.153.945a7.208 7.208 0 1 0 0 14.416 7.208 7.208 0 0 0 0-14.416zM0 8.153a8.153 8.153 0 1 1 16.306 0A8.153 8.153 0 0 1 0 8.153zm6.712-3.478a3.77 3.77 0 0 1 1.44-.286.472.472 0 1 1 0 .945 2.82 2.82 0 0 0-1.993.825 2.82 2.82 0 0 0-.61.915 2.82 2.82 0 0 0-.215 1.079.472.472 0 1 1-.945 0 3.765 3.765 0 0 1 .286-1.44c.19-.457.467-.872.816-1.222a3.763 3.763 0 0 1 1.221-.816z"></path>
        <path d="M13.305 13.305a.472.472 0 0 1 .668 0l4.389 4.389a.472.472 0 1 1-.668.668l-4.39-4.39a.472.472 0 0 1 0-.667z"></path>
      </svg>
      <span>New Product Request</span>
    </a>
    <a href="https://www.injuredgadgets.com/blog/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 22 20"
      >
        <path d="M5.097 4.938c-.046 0-.087.018-.116.046s-.043.064-.043.1v9.838a.14.14 0 0 0 .043.1.166.166 0 0 0 .116.046h4.67c.187 0 .373.048.537.14s.3.224.397.385l1.159 1.894c.014.021.034.04.058.054a.178.178 0 0 0 .17 0 .161.161 0 0 0 .059-.054l1.159-1.894a1.082 1.082 0 0 1 .397-.385 1.098 1.098 0 0 1 .537-.14h4.67a.166.166 0 0 0 .116-.047.14.14 0 0 0 .043-.1V5.085a.14.14 0 0 0-.043-.1.166.166 0 0 0-.116-.046H5.097zm-.772-.624C4.53 4.112 4.809 4 5.097 4H18.91c.288 0 .566.112.772.314s.325.48.325.77v9.838c0 .29-.118.567-.325.77s-.484.313-.772.313h-4.669c-.028 0-.055.008-.079.02s-.041.032-.053.052l-.002.004-1.165 1.903c-.1.16-.239.29-.403.38a1.116 1.116 0 0 1-1.07 0 1.099 1.099 0 0 1-.404-.38l-.003-.005-1.164-1.902a.145.145 0 0 0-.054-.051.16.16 0 0 0-.078-.02h-4.67c-.287 0-.565-.113-.771-.315S4 15.212 4 14.921V5.085c0-.29.118-.568.325-.77z"></path>
        <path d="M3.512 1.204 2.787.478A1.632 1.632 0 1 0 .478 2.786l.74.74a5.867 5.867 0 0 0 2.294-2.322zm-.84 3.777L5.97 8.278c.425.425.637.638.898.777s.556.2 1.146.317l.962.193c.333.066.499.1.594.005s.061-.261-.005-.594l-.193-.962c-.118-.59-.177-.884-.317-1.146s-.352-.473-.777-.898L4.971 2.663A7.867 7.867 0 0 1 2.673 4.98z"></path>
      </svg>
      <span>Blog</span>
    </a>
  </div>
  <div class="featured-herobanner">
    <div class="hbr-content hbr-slider owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="transform: translate3d(-6083px, 0px, 0px); transition: all 0.25s ease 0s; width: 7821px;"
        >
          <div class="owl-item cloned" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/premium-refurbished/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OLED Assemblies for all iPhone 15 Models! Now In Stock!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="sync"
                    fetchpriority="high"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-6 item">
              <a href="https://discord.com/invite/TVuAzBN">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/October/Dis_05_Mobile.jpg?width=768&amp;height=400"
                    alt="Discord"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/search/?q=iphone service pack battery">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Mobile.jpg?width=768&amp;height=400"
                    alt="Nasan Screen Remover!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/accessories/oem-pulls/macbook-chargers/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/MMG_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OEM MacBook Adapter Pulls!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://docs.google.com/spreadsheets/d/1WCA8tS2cTy7oLhn8G6WzATVTAXHR-7OzBknM6E7hN0Q/edit?usp=sharing">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/BF_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/BF_00_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/BF_00_Mobile.jpg?width=768&amp;height=400"
                    alt="LCD and OLED Buyback prices have gone up!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/premium-refurbished/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OLED Assemblies for all iPhone 15 Models! Now In Stock!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="sync"
                    fetchpriority="high"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-6 item">
              <a href="https://discord.com/invite/TVuAzBN">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/October/Dis_05_Mobile.jpg?width=768&amp;height=400"
                    alt="Discord"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item cloned active" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/search/?q=iphone service pack battery">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Mobile.jpg?width=768&amp;height=400"
                    alt="Nasan Screen Remover!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/accessories/oem-pulls/macbook-chargers/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/MMG_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OEM MacBook Adapter Pulls!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="display: none;">prev</div>
          <div class="owl-next" style="display: none;">next</div>
        </div>
        <div class="owl-dots" style="">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
    <script>
      require(['jquery', 'cpowlcarousel'], function ($) {
        jQuery(document).ready(function () {
          jQuery('.hbr-slider').owlCarousel({
            items: 1,
            loop: true,
            dots: true,
            nav: false,
            margin: 10,
            autoplay: true,
            lazyLoad: true,
          });
        });
      });
    </script>
  </div>
  <div class="featured-brands">
    <a href="#">
      <h2>Unique Brands to us</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="179"
        height="47"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 179 47"
      >
        <g stroke="none" fill-rule="nonzero">
          <path d="M50.232 20.213h3.024c.41 0 .812.042 1.204.126s.742.224 1.05.42c.308.187.555.434.742.742.196.308.294.691.294 1.148 0 .579-.159 1.06-.476 1.442-.308.374-.728.64-1.26.798v.028c.317.028.611.112.882.252.28.131.518.304.714.518a2.428 2.428 0 0 1 .644 1.666c0 .551-.117 1.004-.35 1.358-.224.355-.523.64-.896.854-.364.206-.78.35-1.246.434a7.58 7.58 0 0 1-1.372.126h-2.954v-9.912zm1.176 4.2h1.624a5.742 5.742 0 0 0 .812-.056c.27-.037.513-.112.728-.224a1.45 1.45 0 0 0 .518-.49c.13-.214.196-.494.196-.84 0-.308-.06-.555-.182-.742a1.295 1.295 0 0 0-.49-.462 1.916 1.916 0 0 0-.686-.224 4.217 4.217 0 0 0-.77-.07h-1.75v3.108zm0 4.62h1.988a4.344 4.344 0 0 0 .854-.084 2.67 2.67 0 0 0 .77-.294c.233-.14.42-.317.56-.532a1.5 1.5 0 0 0 .21-.812c0-.345-.07-.634-.21-.868a1.532 1.532 0 0 0-.532-.56 2.1 2.1 0 0 0-.756-.294 4.416 4.416 0 0 0-.868-.084h-2.016v3.528zm7.642-8.82h2.534a11.858 11.858 0 0 1 1.414.084c.476.056.901.178 1.274.364s.677.462.91.826c.234.355.35.84.35 1.456 0 .728-.219 1.316-.658 1.764s-1.045.733-1.82.854l2.814 4.564h-1.442l-2.688-4.452h-1.512v4.452H59.05v-9.912zm1.176 4.368h1.05l1.008-.028a3.42 3.42 0 0 0 .966-.182 1.64 1.64 0 0 0 .728-.476c.196-.224.294-.541.294-.952 0-.354-.07-.639-.21-.854s-.326-.378-.56-.49a2.19 2.19 0 0 0-.77-.238 6.444 6.444 0 0 0-.854-.056h-1.652v3.276zm10.603-4.368h1.106l4.214 9.912h-1.372l-1.008-2.436h-4.956l-1.022 2.436h-1.33l4.368-9.912zm.532 1.512h-.028l-2.058 4.872h4.046l-1.96-4.872zm6.105-1.512h1.484l5.74 8.232h.028v-8.232h1.176v9.912H84.41l-5.74-8.232h-.028v8.232h-1.176v-9.912zm10.715 0h3.808c.326 0 .672.038 1.036.112s.723.196 1.078.364c.364.159.71.369 1.036.63.336.262.63.579.882.952.252.364.453.789.602 1.274.15.476.224 1.018.224 1.624s-.075 1.153-.224 1.638a4.88 4.88 0 0 1-.602 1.274 4.227 4.227 0 0 1-.882.938 5.032 5.032 0 0 1-1.036.644c-.355.159-.714.276-1.078.35s-.71.112-1.036.112H88.18v-9.912zm1.176 8.82h2.24c.57 0 1.097-.074 1.582-.224s.905-.378 1.26-.686c.355-.317.635-.718.84-1.204s.308-1.068.308-1.75-.103-1.264-.308-1.75-.485-.882-.84-1.19c-.355-.317-.775-.55-1.26-.7s-1.013-.224-1.582-.224h-2.24v7.728zm13.139-8.82h6.734v2.016h-4.55v1.848h4.298v2.016h-4.298v2.016h4.802v2.016h-6.986v-9.912zm11.199 4.732-3.276-4.732h2.744l2.114 3.472 2.03-3.472h2.646l-3.206 4.69 3.584 5.222h-2.744l-2.422-3.99-2.352 3.99h-2.59l3.472-5.18zm14.121-2.156a2.117 2.117 0 0 0-.798-.602c-.308-.14-.667-.21-1.078-.21s-.793.08-1.148.238a2.79 2.79 0 0 0-.91.672c-.252.28-.452.616-.602 1.008-.14.392-.21.817-.21 1.274 0 .467.07.896.21 1.288.15.383.35.719.602 1.008.252.28.546.5.882.658a2.62 2.62 0 0 0 1.106.238c.448 0 .845-.093 1.19-.28s.63-.448.854-.784l1.82 1.358c-.42.588-.952 1.022-1.596 1.302s-1.306.42-1.988.42c-.774 0-1.488-.121-2.142-.364s-1.218-.588-1.694-1.036a4.89 4.89 0 0 1-1.12-1.652c-.261-.644-.392-1.362-.392-2.156s.131-1.512.392-2.156a4.741 4.741 0 0 1 1.12-1.638c.476-.457 1.041-.807 1.694-1.05s1.368-.364 2.142-.364c.28 0 .57.028.868.084a4.244 4.244 0 0 1 1.75.686c.27.186.514.416.728.686l-1.68 1.372zm3.186-2.576h2.184v7.896h4.046v2.016h-6.23v-9.912zm15.794 6.09c0 .588-.089 1.13-.266 1.624s-.444.924-.798 1.288c-.346.364-.78.649-1.302.854s-1.125.308-1.806.308c-.691 0-1.298-.102-1.82-.308s-.962-.49-1.316-.854c-.346-.364-.607-.793-.784-1.288s-.266-1.036-.266-1.624v-6.09h2.184v6.006c0 .308.046.593.14.854.102.262.242.49.42.686.177.187.387.336.63.448.252.103.522.154.812.154s.555-.051.798-.154c.242-.112.452-.261.63-.448.177-.196.312-.424.406-.686a2.33 2.33 0 0 0 .154-.854v-6.006h2.184v6.09zm6.919-3.668a1.512 1.512 0 0 0-.728-.49 2.436 2.436 0 0 0-.854-.168 2.25 2.25 0 0 0-.49.056 1.727 1.727 0 0 0-.476.182c-.15.075-.271.178-.364.308s-.14.29-.14.476c0 .299.112.528.336.686s.504.294.84.406l1.106.336a4.4 4.4 0 0 1 1.092.476c.345.206.63.481.854.826s.336.808.336 1.386c0 .551-.103 1.032-.308 1.442s-.486.752-.84 1.022a3.458 3.458 0 0 1-1.218.602 5.269 5.269 0 0 1-1.456.196c-.644 0-1.242-.098-1.792-.294s-1.064-.513-1.54-.952l1.554-1.708c.224.299.504.532.84.7a2.523 2.523 0 0 0 1.596.182 1.78 1.78 0 0 0 .49-.196.977.977 0 0 0 .35-.322.776.776 0 0 0 .14-.462.815.815 0 0 0-.35-.7 2.936 2.936 0 0 0-.854-.448l-1.12-.364c-.402-.121-.775-.284-1.12-.49s-.635-.476-.868-.812c-.224-.336-.336-.779-.336-1.33 0-.532.102-.998.308-1.4.214-.401.494-.737.84-1.008.354-.27.76-.471 1.218-.602.457-.14.928-.21 1.414-.21.56 0 1.101.08 1.624.238s.994.425 1.414.798l-1.498 1.638zm3.111-2.422h2.184v9.912h-2.184v-9.912zm3.19 0h2.492l2.45 6.496h.028l2.492-6.496h2.338l-4.088 9.912h-1.75l-3.962-9.912zm10.922 0h6.734v2.016h-4.55v1.848h4.298v2.016h-4.298v2.016h4.802v2.016h-6.986v-9.912z" fill="#000"></path>
          <path d="M28.852 0a4.983 4.983 0 0 1 1.51.224l1.477.482c.947.396 1.783.972 2.406 1.806.981 1.334.913 2.753.324 4.207-.452 1.135-1.177 2.09-2.022 2.95l-2.125 2.1c-1.97 1.926-3.592 4.094-4.574 6.709-.477 1.273-.75 2.589-.921 3.93l-.256 2.46c-.017.207.025.422.051.715l-.973-1.265c-1.851-2.555-3.072-5.393-3.481-8.533-.615-4.722.47-9.032 3.379-12.825 1.058-1.377 2.39-2.374 4.096-2.813l.452-.095c.213-.026.435-.043.657-.051z" fill="#c30001"></path>
          <path d="M24.842 25.815a1.304 1.304 0 0 1-.162.13c-3.525 2.477-7.407 3.793-11.725 3.578-3.994-.198-7.518-1.643-10.487-4.37C1.308 24.086.462 22.804.13 21.239a5.49 5.49 0 0 1 .145-2.899c.452-1.42 1.169-2.675 2.363-3.604 1.041-.809 2.219-.955 3.456-.568 1.442.447 2.586 1.368 3.576 2.469.955 1.058 1.834 2.176 2.79 3.243 1.732 1.927 3.729 3.527 6.161 4.447 1.22.464 2.509.765 3.78 1.075.802.198 1.639.284 2.44.413z" fill="#58595b"></path>
          <path d="m27.734 25.084.145 1.161c.273 3.665-.35 7.157-2.039 10.434a16.17 16.17 0 0 1-3.465 4.533c-1.68 1.54-3.55 2.788-5.734 3.501-1.33.44-2.68.628-4.062.319-1.723-.387-2.952-1.462-3.89-2.916-.572-.886-.982-1.824-1.033-2.9-.043-.945.264-1.771.853-2.485 1.007-1.213 2.347-1.893 3.831-2.297 1.323-.361 2.671-.645 4.003-.972 2.235-.55 4.343-1.41 6.237-2.761a15.573 15.573 0 0 0 3.072-2.933l1.681-2.134c.128-.172.273-.499.384-.688l.017.138z" fill="#929497"></path>
        </g>
        <path d="M40 18.11v16.582" stroke="#ab281e" stroke-linejoin="miter" stroke-linecap="butt" fill="none"></path>
      </svg>
    </a>
    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="78"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        viewBox="0 0 78 20"
      >
        <path d="M76.527 2.817 76.993 0H54.186l-2.323 10.931h19.53a.668.668 0 0 1 .67.78l-.392 2.099c-.237 1.261-1.365 2.174-2.682 2.174h-22.73L32.821.068H8.604c-2.53 0-4.687 1.675-5.238 4.075L0 18.762h2.97l1.816-7.891h19.842l.462-2.818H5.43l.758-3.292c.256-1.103 1.243-1.875 2.408-1.875h22.379L44.413 18.8h24.565c2.719 0 5.049-1.886 5.533-4.488l.393-2.099c.192-1.016-.093-2.055-.774-2.85s-1.683-1.25-2.748-1.25H55.41l1.125-5.297h19.992z" fill="#c62026"></path>
        <path d="m22.223 18.762 4.31-.004 8.1-6.429-1.605-1.908-10.805 8.34zM46.152.06l-8.027 6.292 1.657 1.959L50.346.029 46.152.06z" fill="#000"></path>
      </svg>
    </a>
    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="83"
        height="31"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 83 31"
      >
        <path d="M75.683 9.855H64.737v19.392h5.096v-4.96h5.85c3.022 0 5.472-2.419 5.472-5.404V15.26c0-2.985-2.453-5.404-5.472-5.404zm.321 8.265a1.6 1.6 0 0 1-1.61 1.59h-4.506v-5.405h4.507a1.6 1.6 0 0 1 1.61 1.59v2.225zm-34.771-1.268V28.77a.48.48 0 0 1-.483.477H23.688a.48.48 0 0 1-.483-.477V3.02a.48.48 0 0 1 .483-.477h5.472c.09 0 .161-.07.161-.159V.16c0-.09.071-.159.161-.159h5.473c.09 0 .161.07.161.159v2.225c0 .09.07.16.161.16h5.473a.48.48 0 0 1 .483.476v10.332h-7.405v-7.63L26.537 16.85h4.394v8.265l4.185-8.265h6.117v.003zM14.2 29.247l-2.736-5.729-3.094 5.729H0l6.79-10.202-5.155-9.19h7.398l2.434 4.45 2.17-4.45h7.398l-5.248 9.194 6.883 10.198H14.2zm42.163 0h7.71L57.617 9.855H48.29l-6.404 19.392h7.315l.473-2.915a.323.323 0 0 1 .319-.264h5.582a.32.32 0 0 1 .318.264l.47 2.915zm-5.669-7.703 2.29-8.19 1.998 8.2a.321.321 0 0 1-.315.384h-3.654a.323.323 0 0 1-.319-.394z" fill="#9b2022" fill-rule="nonzero" stroke="none"></path>
      </svg>
    </a>
    <a href="https://www.injuredgadgets.com/tools-equipment/brands/grip-tools/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="147"
        height="34"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#de1e24"
        viewBox="0 0 147 34"
      >
        <path d="m20.552 22.386 3.099 6.422-5.602.864-5.578 3.201L0 25.66l.554-7.873L14.407.458 17.356 0l2.898 2.093c-.216 2.74-.07 5.503.333 8.218.352 2.287.919 4.544 1.774 6.695l-1.806 3.806-9.637.256-1.272-1.332 1.277-4.425 2.878 2.264c-.695-2.914-.86-5.972-.411-8.936l-9.175 9.51-.15 5.61 7.45 3.165 2.311-.952-.592-1.496-5.49-1.83 12.808-.26zm15.986-5.267.184-2.433-5.108-3.035.14 5.876-2.265 6.579-6.047.325.931 2.287 7.913-.703 4.252-8.896zm-12.453-.14-2.022 4.278.958 2.149 4.965-.272 1.957-5.66-1.061-7.933.815-.335 1.104.64.399-2.398-2.875-5.191-5.153 1.919-1.325-.945c-.018 1.708.128 3.41.344 5.103a52.933 52.933 0 0 0 1.894 8.644zm13.38-7.204-5.297-1.859-.394 2.489 5.211 3.02.48-3.65zm.458 5.302 2.9.987-.22 5.962-3.294 2.062-2.514 4.161-9.664.43-.399-.951 8.452-.698.765-1.531 3.723-7.644.251-2.778zm1.064 4.11-1.079 2.562 1.536-.686.002-1.617-.459-.259zm7.272-1.572c0-1.858.575-3.388 1.726-4.588 1.15-1.211 2.635-1.817 4.456-1.817s3.395.635 4.724 1.906l-1.541 1.994c-.816-.824-1.832-1.236-3.05-1.236-1.027 0-1.859.353-2.495 1.06-.637.693-.955 1.587-.955 2.681 0 1.118.324 2.024.972 2.718.647.682 1.518 1.023 2.613 1.023.938 0 1.787-.235 2.546-.706v-1.605h-3.3v-2.312h5.73v5.294c-1.33 1.33-3.033 1.994-5.11 1.994-1.887 0-3.412-.594-4.573-1.782s-1.743-2.73-1.743-4.624zm18.32-6.176c1.352 0 2.435.383 3.25 1.147.827.765 1.24 1.777 1.24 3.035 0 1.8-.743 3.041-2.228 3.724l2.597 4.447h-3.133l-2.211-3.988h-1.558v3.988h-2.881V11.439h4.925zm-.284 6.07c.603 0 1.072-.158 1.407-.476.324-.306.486-.741.486-1.306s-.168-1.006-.503-1.323c-.324-.318-.787-.477-1.39-.477h-1.81v3.583h1.81zm9.627 6.283H71.04V11.439h2.882v12.352zm2.386-12.353h4.674c1.407 0 2.513.394 3.317 1.183.815.788 1.223 1.87 1.223 3.246 0 1.353-.408 2.43-1.223 3.23-.804.8-1.91 1.2-3.317 1.2h-1.793v3.494h-2.88V11.439zm4.372 6.353c.615 0 1.09-.165 1.424-.494.346-.341.52-.806.52-1.394 0-.6-.173-1.065-.52-1.394-.335-.33-.81-.494-1.424-.494h-1.54v3.776h1.54zm8.468-3.565V11.44h9.699v2.788h-3.418v9.565h-2.88v-9.565h-3.401zm11.727-1.2c1.184-1.211 2.675-1.817 4.473-1.817 1.82 0 3.317.606 4.489 1.817 1.173 1.2 1.759 2.73 1.759 4.588s-.586 3.394-1.759 4.606c-1.172 1.2-2.669 1.8-4.489 1.8-1.798 0-3.289-.606-4.473-1.818s-1.776-2.74-1.776-4.588.592-3.376 1.776-4.588zm1.173 4.588c0 1.07.307 1.947.921 2.63.626.67 1.418 1.006 2.379 1.006.971 0 1.764-.336 2.379-1.006.625-.683.938-1.56.938-2.63s-.313-1.94-.938-2.611c-.615-.683-1.408-1.024-2.379-1.024-.961 0-1.753.341-2.379 1.024-.614.67-.921 1.54-.921 2.611zm12.585-4.588c1.184-1.211 2.675-1.817 4.473-1.817 1.82 0 3.317.606 4.489 1.817 1.173 1.2 1.759 2.73 1.759 4.588s-.586 3.394-1.759 4.606c-1.172 1.2-2.669 1.8-4.489 1.8-1.798 0-3.289-.606-4.473-1.818s-1.775-2.74-1.775-4.588.591-3.376 1.775-4.588zm1.173 4.588c0 1.07.307 1.947.921 2.63.626.67 1.419 1.006 2.379 1.006.972 0 1.764-.336 2.379-1.006.625-.683.938-1.56.938-2.63s-.313-1.94-.938-2.611c-.615-.683-1.407-1.024-2.379-1.024-.96 0-1.753.341-2.379 1.024-.614.67-.921 1.54-.921 2.611zm14.26-6.176v9.547h4.959v2.806h-7.84V11.439h2.881zm5.528 10.853 1.239-2.188c1.139.835 2.334 1.252 3.585 1.252.592 0 1.044-.094 1.357-.282.324-.188.486-.453.486-.794 0-.33-.179-.606-.536-.83-.346-.235-.961-.482-1.843-.74-1.307-.365-2.267-.853-2.881-1.465-.614-.624-.922-1.43-.922-2.418 0-1.058.38-1.911 1.14-2.558.77-.66 1.825-.989 3.166-.989 1.686 0 3.177.506 4.472 1.518l-1.256 2.118c-.402-.33-.888-.595-1.457-.795s-1.123-.3-1.659-.3c-.48 0-.86.089-1.139.265s-.419.412-.419.706c0 .306.157.57.469.794.313.212.899.447 1.759.706 1.374.4 2.385.918 3.032 1.553s.972 1.44.972 2.417c0 1.106-.43 2-1.29 2.683-.849.67-1.977 1.005-3.384 1.005-1.876 0-3.507-.553-4.891-1.658z"></path>
      </svg>
    </a>
    <a href="https://www.injuredgadgets.com/clearplex-express-starter-kit/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="146"
        height="29"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 146 29"
      >
        <g fill="#ee3124" fill-rule="nonzero">
          <path d="M143.363 2.073c.147 0 .295-.059.384-.148s.147-.208.147-.386c0-.385-.206-.563-.679-.593l-.768-.03-.059 2.045h.266l.029-.92h.384v.03l.532.92h.266l-.561-.947.059.03zm-.296-.178h-.354l.029-.741h.443c.059 0 .119 0 .178.03.059 0 .118.03.147.059.059.03.089.06.118.119s.06.118.03.178c0 .088-.03.148-.059.207s-.089.09-.148.119-.118.03-.177.03h-.207z"></path>
          <path d="M144.689 2.754c.088-.207.147-.444.147-.711a1.99 1.99 0 0 0-.118-.712c-.088-.207-.206-.415-.354-.563s-.355-.296-.561-.385-.443-.149-.679-.149-.473.03-.68.119-.413.207-.561.356c-.177.148-.295.326-.413.563a1.79 1.79 0 0 0-.148.712c0 .266.03.504.118.711s.207.415.355.563.354.297.561.386.443.148.679.148.472-.03.679-.118.414-.208.561-.356c.177-.18.325-.358.414-.564zm-1.061.71c-.177.088-.384.118-.591.118s-.413-.06-.59-.148-.355-.208-.473-.356-.236-.326-.295-.504c-.059-.208-.118-.415-.089-.623 0-.207.059-.415.148-.622a2.97 2.97 0 0 1 .325-.504c.148-.148.295-.237.502-.326.177-.09.384-.119.591-.119s.413.06.59.148.325.208.473.356c.118.148.236.326.295.504.059.208.118.415.089.623 0 .237-.059.444-.148.622s-.207.356-.325.504a1.474 1.474 0 0 1-.502.326z"></path>
          <path d="M143.805 2.014c.118-.09.177-.238.177-.445 0-.415-.236-.652-.738-.652l-.827-.03-.059 2.191h.384l.029-.919h.296l.531.92v.03h.414l-.591-.947c.148-.03.266-.09.384-.148zm-.177 1.005-.532-.919v-.027h-.384l-.029.919h-.266l.059-2.043.768.03c.472 0 .709.207.679.592 0 .178-.059.326-.147.386-.089.089-.237.118-.384.148h-.059l.561.946-.266-.032z"></path>
          <path d="M144.807 1.302a1.588 1.588 0 0 0-.384-.593c-.148-.178-.355-.296-.561-.415a1.78 1.78 0 0 0-.709-.148c-.236 0-.502.03-.709.118-.236.09-.413.208-.59.356s-.325.356-.414.564c-.118.207-.148.474-.177.711 0 .267.029.504.118.741s.207.415.384.593c.148.178.354.297.561.415.207.09.443.148.709.148.236 0 .502-.03.709-.118.236-.09.413-.208.59-.356s.325-.356.414-.563c.118-.208.147-.475.177-.741 0-.238-.03-.475-.118-.712zm-1.77 2.458c-.236 0-.472-.059-.679-.148s-.384-.237-.561-.385c-.148-.149-.266-.356-.354-.564s-.119-.444-.119-.711c0-.237.06-.475.148-.712.089-.207.236-.385.414-.563.177-.148.354-.267.561-.356s.443-.118.679-.118.472.059.679.148.384.237.561.385c.148.148.266.356.355.564s.118.444.118.711a1.79 1.79 0 0 1-.148.712c-.089.207-.236.385-.413.563-.178.148-.355.267-.561.356s-.443.118-.68.118zm.562-2.013c.029-.06.059-.119.059-.208s0-.148-.03-.178c-.029-.059-.059-.089-.118-.118s-.088-.03-.148-.06c-.059 0-.118 0-.177-.03h-.443l-.029.742h.561c.059 0 .148-.03.177-.03.059-.029.118-.059.148-.118zm-.532.089h-.295l.029-.623h.532c.059 0 .089.03.148.06l.088.088c.03.03.03.09.03.149 0 .089-.03.148-.059.178s-.059.059-.118.089-.119.03-.178.03c-.059.029-.118.029-.177.029z"></path>
          <path d="M144.6 2.043c0-.207-.029-.444-.088-.622-.059-.208-.178-.356-.296-.504s-.295-.267-.472-.356-.384-.148-.591-.148-.413.03-.591.118-.354.178-.502.326-.265.297-.324.504c-.089.178-.119.386-.148.623 0 .237.029.445.089.623.059.207.177.355.295.504s.295.266.472.355.384.149.591.149.413-.03.591-.119.354-.178.502-.326.265-.297.325-.504a1.61 1.61 0 0 0 .147-.623zm-1.563 1.45c-.206 0-.383-.059-.561-.148s-.324-.207-.443-.326c-.118-.148-.236-.296-.295-.474s-.089-.386-.089-.593.06-.415.119-.593c.088-.178.177-.356.324-.474s.296-.238.473-.297.384-.118.561-.089c.207 0 .384.06.561.148s.325.208.443.327c.118.148.236.296.295.504.06.177.089.385.089.593s-.059.414-.118.592a1.697 1.697 0 0 1-.325.475c-.148.118-.295.237-.472.296a2.98 2.98 0 0 1-.562.06z"></path>
        </g>
        <path d="M131.978 23.006c-.178-.237-.384-.385-.621-.504s-.502-.178-.767-.178c-.296 0-.591.06-.857.178s-.472.297-.679.504a2.596 2.596 0 0 0-.443.741c-.118.267-.148.564-.148.86 0 .326.059.623.148.92.118.266.236.533.443.74.177.208.413.356.65.505.265.118.531.177.856.177s.65-.059.916-.207c.265-.119.502-.326.708-.563l.502.415c-.236.326-.561.593-.915.74s-.738.238-1.179.238c-.384 0-.768-.06-1.12-.207s-.649-.356-.886-.623c-.265-.267-.443-.563-.59-.92s-.207-.74-.207-1.153.059-.8.207-1.154.325-.652.59-.919c.237-.267.561-.474.886-.622a2.819 2.819 0 0 1 1.12-.238c.384 0 .738.06 1.09.208s.65.356.857.652l-.561.41zM96.911 21.88l2.065 3.137v2.4h.65v-2.4l2.064-3.137h-.797l-1.592 2.488-1.563-2.488h-.827zm-3.037 0h-1.71v5.544h1.651c.266 0 .502 0 .768-.06.266-.029.502-.118.709-.236s.384-.267.502-.475.177-.474.177-.77c0-.179-.03-.356-.089-.505s-.147-.296-.265-.415c-.089-.118-.237-.207-.384-.296s-.325-.119-.502-.148v-.03c.295-.089.531-.237.708-.445s.266-.474.266-.8c0-.267-.03-.474-.147-.652-.089-.178-.237-.297-.414-.415s-.384-.178-.59-.238l-.071-.009-.609-.05zm-.088 2.34h-.916v-.003h.032V22.5h.972c.148 0 .296 0 .443.03.148 0 .266.06.384.118l.03.022c.103.078.182.137.236.245.059.09.088.237.088.415 0 .208-.059.356-.118.475-.088.118-.177.207-.295.266s-.266.09-.413.12-.296.029-.443.029zm.204 2.574h-1.12v-2.016h1.12c.177 0 .354.03.502.06l.132.047c.101.035.199.068.281.13.118.09.207.208.296.326.088.119.118.267.118.475 0 .178-.03.326-.118.444-.06.119-.177.208-.296.297-.147.089-.295.148-.443.178s-.324.06-.472.06zm11.564-4.914h.972l1.888 4.323 1.887-4.323h.972v5.536h-.676V22.77l-1.977 4.647h-.413l-1.976-4.647h-.03v4.647h-.647V21.88zm10.056 0h-.621l-2.419 5.536h.739l.561-1.36h2.771l.561 1.36h.768l-2.36-5.536zm-1.475 3.555 1.15-2.725 1.092 2.725h-2.242zm4.984-3.555h2.124c.177 0 .384.03.59.059.207.03.414.119.591.208.207.089.384.207.591.355.177.149.354.326.502.534s.266.445.325.711c.088.267.118.564.118.92s-.03.652-.118.919-.207.504-.325.711a2.176 2.176 0 0 1-.502.534 2.405 2.405 0 0 1-.591.356 5.078 5.078 0 0 1-.457.164l-.134.043-.068.01c-.179.026-.339.05-.522.05h-2.124V21.88zm.65 4.914h1.238c.324 0 .62-.03.885-.119s.503-.207.709-.385.355-.386.473-.682c.118-.267.177-.593.177-.976s-.059-.712-.177-.976-.266-.504-.473-.682-.443-.296-.709-.385-.561-.119-.885-.119h-1.238v4.324zm5.781-4.914h.649v5.536h-.649V21.88zm10.028 5.477c.352.148.736.207 1.149.207s.795-.089 1.15-.207.649-.326.915-.593c.236-.267.443-.563.591-.92s.206-.74.206-1.153-.059-.798-.206-1.154a2.338 2.338 0 0 0-.591-.919c-.266-.237-.561-.445-.915-.593s-.736-.207-1.15-.207-.795.089-1.149.207-.65.326-.915.593c-.237.267-.443.563-.591.92s-.207.74-.207 1.153.059.798.207 1.154c.118.356.325.652.591.919.265.237.561.445.915.593zm2.035-.593c-.266.118-.561.178-.886.178s-.62-.06-.886-.178-.472-.297-.679-.504a3.08 3.08 0 0 1-.443-.741 2.821 2.821 0 0 1-.148-.89c0-.296.03-.622.148-.89.089-.296.236-.533.443-.74.177-.208.414-.386.679-.504s.561-.178.886-.178.62.059.886.178.473.296.679.504c.178.207.325.474.443.74.089.268.148.564.148.89 0 .297-.029.623-.148.89a1.709 1.709 0 0 1-.443.74 1.938 1.938 0 0 1-.679.505z" fill="#000"></path>
        <path d="M135.458 0c1.562 0 2.684.474 3.391 1.42.709.92 1.063 2.281 1.033 3.998v5.803c0 .83-.088 1.599-.236 2.251s-.413 1.213-.738 1.717-.795.887-1.386 1.154-1.267.385-2.064.385-1.504-.118-2.065-.385a3.207 3.207 0 0 1-1.386-1.124 4.796 4.796 0 0 1-.738-1.717 10.103 10.103 0 0 1-.236-2.25V5.387c0-.86.088-1.598.236-2.25s.413-1.216.738-1.688.795-.857 1.386-1.094C133.954.119 134.66 0 135.458 0zm-1.475 13.944c.296.415.795.652 1.504.652s1.211-.237 1.504-.652c.266-.445.413-1.154.413-2.073V4.855c0-.89-.147-1.57-.413-2.014-.266-.415-.766-.622-1.504-.622s-1.238.207-1.504.622-.413 1.095-.413 2.014v7.016c0 .92.118 1.628.413 2.073zm-6.575-6.809c.354-.682.502-1.51.502-2.488 0-1.598-.443-2.754-1.327-3.434-.856-.682-2.153-1.035-3.834-1.035h-2.919V16.64h2.508V9.119h1.415l2.212 7.402.03.119h2.508l-2.508-8.144c.615-.264 1.088-.738 1.413-1.36zm-2.006-2.488c0 .86-.207 1.51-.65 1.866-.443.385-1.09.563-1.976.563h-.413V2.19h.413c.886 0 1.563.178 1.976.564s.65 1.035.65 1.892zM112.543.178h-4.011V16.64h2.508V9.12h1.503c1.297 0 2.301-.357 2.978-1.066s1.031-1.776 1.031-3.108c.003-3.17-1.356-4.768-4.009-4.768zm1.504 4.766c0 .474-.059.83-.148 1.124a1.259 1.259 0 0 1-.472.623c-.237.148-.502.266-.798.326s-.708.089-1.208.089h-.413V2.19h.413c.561 0 1.002.03 1.327.12s.561.207.767.444c.207.207.325.474.414.8.088.354.118.798.118 1.389z" fill="#ee3124"></path>
        <path d="M25.363 14.003c.295.475.827.742 1.622.742.768 0 1.326-.238 1.621-.742.296-.474.443-1.213.443-2.161V4.855c0-.947-.147-1.628-.443-2.103s-.827-.682-1.621-.682-1.327.238-1.622.682c-.295.475-.443 1.154-.443 2.103v7.016c0 .949.147 1.66.443 2.132zm1.622 2.637c-.768 0-1.445-.119-2.006-.356s-1.002-.593-1.326-1.095a4.936 4.936 0 0 1-.71-1.658 10.038 10.038 0 0 1-.236-2.22V5.417c0-.86.089-1.599.237-2.221s.384-1.183.709-1.658.767-.83 1.326-1.035c.561-.237 1.238-.356 2.006-.356 1.503 0 2.596.445 3.273 1.361.679.89 1.001 2.192 1.001 3.909v5.863c0 .83-.088 1.569-.236 2.22s-.384 1.184-.709 1.688c-.325.475-.768.83-1.326 1.095-.586.237-1.235.356-2.003.356zM13.804 7.254h-.561V2.07h.56c.916 0 1.593.178 2.065.593.443.415.68 1.065.68 1.984s-.207 1.569-.68 1.984c-.443.415-1.149.623-2.064.623zM11.03.326v16.136h-.002v.03h2.212V9h1.652l2.241 7.491h2.213l-2.508-8.083a2.648 2.648 0 0 0 1.445-1.332c.354-.652.502-1.483.502-2.429 0-1.539-.411-2.633-1.238-3.315C16.69.652 15.453.326 13.8.326h-2.77zM2.774 7.254h-.562V7.25h.03V2.07h.561c.559 0 1.002.03 1.356.118.325.089.62.237.827.474s.354.534.443.89.118.828.118 1.39c0 .473-.03.888-.148 1.184s-.295.534-.531.712c-.266.148-.532.266-.857.326s-.735.089-1.238.089zM0 .326V16.49h2.242V8.998h1.654c1.267 0 2.21-.353 2.889-1.035.677-.71 1.002-1.717 1.002-3.02C7.787 1.866 6.49.327 3.893.327H0zM37.22 2.37v14.093h2.212V2.369h2.771V.326h-7.757V2.37h2.774zm8.463 14.093V.326h6.106v1.717h-3.893v5.21h2.77v1.718h-2.77v5.774h3.893v1.717h-6.106zm12.152-.119c.503.208 1.09.297 1.74.297.766 0 1.415-.119 2.006-.39.53-.235.943-.62 1.268-1.095s.531-1.035.679-1.658c.118-.623.207-1.361.207-2.191v-.593h-2.213v.593l-.03 1.035a5.4 5.4 0 0 1-.147.919 3.776 3.776 0 0 1-.325.77c-.148.208-.325.356-.561.505s-.532.207-.857.207-.62-.089-.856-.207-.443-.297-.59-.504-.266-.475-.355-.771a5.29 5.29 0 0 1-.177-.946l-.06-1.036V5.504l.03-1.124c.03-.296.06-.593.148-.919.06-.326.177-.593.325-.77.118-.208.325-.356.59-.475.237-.119.562-.178.916-.178.295 0 .532.03.738.09.237.058.384.147.532.296l.325.444c.088.149.147.356.206.593l.042.284c.024.146.047.281.047.428l.013.349.017.481v.504h2.212v-.534c-.03-.77-.148-1.45-.295-2.013s-.384-1.065-.71-1.51a3.264 3.264 0 0 0-1.267-.976c-.502-.207-1.149-.326-1.858-.326-.679 0-1.237.119-1.74.297a3.94 3.94 0 0 0-1.208.8c-.325.353-.56.768-.768 1.272s-.325 1.065-.413 1.629-.118 1.213-.118 1.954v4.588c0 .711.03 1.361.118 1.954s.207 1.124.413 1.628.443.946.768 1.273c.293.326.706.593 1.208.8zm11.383.119V2.369h-2.771V.326h7.757V2.37H71.43v14.093h-2.212zM77.83.326h2.213v16.165H77.83V.326zm8.552 13.677c.295.475.827.742 1.622.742.768 0 1.326-.238 1.622-.742.295-.474.442-1.213.442-2.161V4.855c0-.947-.147-1.628-.443-2.103s-.826-.682-1.621-.682-1.327.238-1.622.682c-.295.475-.443 1.154-.443 2.103v7.016c0 .949.148 1.66.443 2.132zm1.622 2.637c-.768 0-1.445-.119-2.006-.356s-1.002-.593-1.326-1.095a4.936 4.936 0 0 1-.71-1.657 10.038 10.038 0 0 1-.235-2.222V5.418c0-.86.088-1.599.236-2.221s.384-1.183.709-1.658.767-.83 1.326-1.035c.561-.237 1.238-.356 2.006-.356 1.503 0 2.596.445 3.273 1.361.68.89 1.001 2.192 1.001 3.909v5.863c0 .83-.088 1.569-.236 2.22s-.384 1.184-.709 1.688c-.324.475-.767.83-1.326 1.095-.559.237-1.235.356-2.003.356zM95.909.326v16.136h2.213V5.744l3.979 10.718h1.566V.326h-2.213v9.976L97.561.326h-1.652z" fill="#000"></path>
      </svg>
    </a>
    <a href="https://www.injuredgadgets.com/accessories/mini-quick-shop/brands/top-brands/insured-gadgets/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="67"
        height="43"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 67 43"
      >
        <path d="m38.114 28.9-.6 2.35c-1.261-.432-1.83-.499-2.85-.343-1.31.197-2.351 1.097-2.637 2.29l-.717 3.081c-.222.972.116 1.787.949 2.116.428.17.905.3 1.363.308l1.57-.052 1.13-.05c.3-.006.403-.113.463-.381l1.304-5.664.544-2.35.372-1.634.13-.573h-.79l-.23.901zm-3.32 9.116-.525.043-.276-.043a6.234 6.234 0 0 1-.975-.2c-.733-.23-1.03-.777-.865-1.514l.73-3.087c.225-.896.991-1.5 2.02-1.614a4.544 4.544 0 0 1 2.208.312c.177.07.245.152.197.353l-1.252 5.41c-.042.176-.128.25-.298.263l-.965.077zM20.03 41.777l-.045-.3-.045-.3.105-.048.263-.131c.549-.312.901-.767 1.035-1.383l.103-.467v-.002l.232-1.055-.07.027a.314.314 0 0 0-.089.044c-.93.704-1.983.69-3.04.442-.997-.235-1.508-1.022-1.31-2.12.219-1.2.507-2.397.891-3.555.413-1.245 1.45-1.787 2.72-1.967.9-.126 1.704.046 2.433.655l.045-.115.18-.457h.734l-.471 2.035v.002l-.001.003v.003l-.515 2.222-.204.881-.813 3.527a2.749 2.749 0 0 1-2.138 2.059zm-.388-3.783c1.189-.008 2.102-.584 2.412-1.645.282-.963.504-1.945.68-2.933.165-.925-.31-1.546-1.178-1.686-1.274-.205-2.387.365-2.783 1.574-.338 1.041-.555 2.126-.745 3.207-.128.726.3 1.232 1.04 1.408.13.03.263.043.397.056l.177.019zm23.444.174-.403.176c-.294.135-.594.273-.908.325-.803.134-1.628.167-2.38-.269-.513-.297-.761-.751-.807-1.325-.052-.645.105-1.256.262-1.866l.152-.623c.124-.564.276-1.129.483-1.669.466-1.217 1.451-1.771 2.704-1.949.901-.128 1.73.03 2.453.661l.129-.329v-.002l.1-.257h.73l-.15.653v.001l-.002.005-.309 1.341-.39 1.69v.003l-.001.004-.001.004-1.143 4.927c-.24 1.023-.867 1.723-1.892 2.057-.055.016-.11.027-.172.039l-.08.016-.098-.611c.598-.221 1.073-.594 1.293-1.194.109-.295.175-.606.242-.917l.074-.337.085-.405.03-.15zm-1.902-.164c1.362-.11 2.122-.752 2.425-2.061l.062-.266.258-1.127.072-.317.172-.862c.124-.945-.382-1.56-1.335-1.655-1.285-.13-2.33.5-2.695 1.726a29.51 29.51 0 0 0-.688 2.964c-.149.795.294 1.371 1.089 1.53.142.03.287.04.432.05l.208.018zm9.104-.313c.06.179.09.272.06.337s-.133.109-.343.188l-.23.09c-.958.384-1.954.552-2.99.363-1.135-.21-1.397-.983-1.223-1.935l.676-2.987.137-.558c.287-1.175 1.404-2.118 2.653-2.213a5.69 5.69 0 0 1 1.407.048c1.13.197 1.664.982 1.458 2.092l-.445 1.975c-.018.078-.142.183-.226.191l-4.272.318c-.208.013-.306.059-.337.274-.02.15-.059.298-.098.446l-.066.262c-.17.779.273 1.321 1.075 1.38.861.064 1.654-.173 2.439-.467l.178-.076.054-.025.093.297zm-3.482-2.821.978-.068 2.761-.197c.07-.006.176-.092.194-.16l.04-.154.269-1.206c.092-.618-.24-1.107-.841-1.29a3.033 3.033 0 0 0-.569-.099c-.953-.093-1.896.331-2.234 1.124-.186.438-.303.903-.425 1.388l-.173.662zm-17.31-2.906c.462.223.58.614.444 1.24l-.369-.163a4.826 4.826 0 0 0-2.174-.483c-1.371.026-2.414.767-2.783 2.028a15.087 15.087 0 0 0-.458 2.033c-.092.627.098 1.193.657 1.588a2.73 2.73 0 0 0 1.6.497l1.916-.066 1.072-.05c.196-.009.22-.136.244-.256l.01-.048 1.145-4.992c.15-.667.072-1.298-.482-1.771-.563-.482-1.263-.562-1.982-.61l-.158.59.413.133.904.33zm-1.507 6.059-.644.081-.458-.083c-.363-.062-.725-.124-1.071-.242-.663-.223-.92-.692-.8-1.369l.407-1.757c.242-.82.93-1.312 1.802-1.322.817-.008 1.591.19 2.33.533.17.079.212.175.172.347l-.792 3.458c-.042.199-.148.26-.323.274l-.623.08zm28.113-1.386h.747c.018.39.052.793.435.994.274.146.59.25.9.292.671.093 1.328.035 1.922-.34.423-.266.62-.662.669-1.137.036-.373-.15-.675-.567-.83-.263-.1-.534-.178-.805-.256l-.662-.204c-.35-.123-.709-.25-1.023-.438-.585-.351-.78-.898-.639-1.56.24-1.119.931-1.8 2.046-2.08a4.203 4.203 0 0 1 2.194.024 2.1 2.1 0 0 1 .353.15l.158.077-.014.048a.167.167 0 0 1-.018.05c-.292.478-.292.478-.836.372l-.013-.002c-.857-.166-1.69-.17-2.424.392-.445.34-.66.8-.549 1.336.044.213.25.461.45.558.242.118.503.197.764.275l.504.165.197.073c.375.14.751.28 1.09.48.607.36.789.912.615 1.593-.334 1.307-1.21 1.91-2.517 2.031a5.85 5.85 0 0 1-1.843-.126c-.963-.229-1.384-1.018-1.133-1.937zm-1.862-6.198-.458-.06-.195.795-.377 1.554-.21.895-.75 3.298c-.107.517-.047 1.055.397 1.43a1.572 1.572 0 0 0 .739.34c.063.009.153-.135.24-.277l.11-.168a.79.79 0 0 0 .057-.096l.02-.036c-.651-.394-.816-.783-.645-1.518l.166-.712.302-1.29.478-2.01.177-.738.046-.017a.115.115 0 0 1 .042-.013l.376-.002.753-.003c.735-.002.735-.002.87-.716.002-.01-.004-.02-.013-.038l-.022-.045H54.51l.072-.527-.34-.046z" fill="#c30001"></path>
        <g fill="#70777a">
          <path d="M4.488 10.6c.637-.006 1.097.471 1.06 1.096-.049.775-.804 1.44-1.59 1.4-.615-.03-1.05-.524-.993-1.13.07-.753.747-1.36 1.523-1.366zm58.46 5.035-.252 1.345-.336-.095c-1.046-.31-2.097-.574-3.198-.609-2.374-.075-4.48 1.343-5.17 3.55-.144.456-.222.933-.3 1.41v.001l-.07.42-.18 1.01-.516 3.118c-.198 1.434.31 2.576 1.574 3.325.62.37 1.311.49 2.012.557 1.76.169 3.509.007 5.259-.155l.382-.035c.178-.017.197-.125.22-.26l.005-.02 2.504-14.32.376-2.145.178-1.03v-.004l.001-.005.112-.648-.461.002c-.352.002-.688.004-1.023-.006-.202-.006-.266.075-.3.265l-.366 1.935-.155.806-.296 1.583v.005zm-3.435 12.523-.389.021c-.915.044-1.821-.001-2.706-.264a2.958 2.958 0 0 1-.607-.252c-.943-.54-1.193-1.103-1.005-2.188l.287-1.657.572-3.313c.214-1.245 1.143-2.168 2.45-2.397 1.39-.244 2.73-.017 4.038.47.227.085.263.213.223.434l-1.54 8.78c-.042.243-.138.314-.362.32l-.961.046zm-8.361-.643-.177-.497-.865.263-1.992.557c-.855.19-1.738.239-2.58-.136-.545-.242-.924-.631-.912-1.239a7.63 7.63 0 0 1 .098-.938l.079-.61c.024-.262.128-.347.4-.365l4.197-.296 3.148-.225c.212-.013.296-.084.328-.291l.139-.787.162-.945.107-.707v-.001l.235-2.105c.03-1.34-.767-2.321-2.058-2.745-.935-.308-1.896-.399-2.879-.345-2.334.126-4.258 1.633-4.77 3.875l-.649 3.409-.266 1.52-.021.116c-.134.724-.267 1.447-.19 2.196.105.982.591 1.704 1.5 2.073a6.093 6.093 0 0 0 1.812.424c1.842.14 3.547-.383 5.187-1.16.064-.03.125-.07.188-.11l.09-.056-.311-.875zm.183-5.89-.132.73-5.808.432a1.1 1.1 0 0 1-.108.001l-.092-.001.021-.142.061-.393.104-.6v-.001l.247-1.379c.24-1.268 1.335-2.237 2.672-2.377.625-.067 1.25-.098 1.862.095.979.308 1.513 1.01 1.423 2.018a16.857 16.857 0 0 1-.25 1.616zM34.099 29.43h-1.576l-.026-.5-.414.156-.85.302c-1.259.389-2.54.42-3.82.144-1.81-.388-2.76-1.619-2.64-3.542.05-.812.197-1.62.344-2.425v-.002l.111-.614.592-3.322.545-3.053c.038-.217.118-.278.33-.274l1.09.005.474-.001-.102.604-.001.005v.001l-.15.877-.368 2.126v.001l-.905 5.287c-.116.696-.116 1.402.429 1.974.392.415.9.612 1.45.695 1.192.181 2.32.03 3.278-.762.723-.593.967-1.428 1.125-2.293v-.003l1.486-8.213c.04-.226.108-.325.362-.315l1.091.009.495-.003-1.92 10.734-.002.01-.429 2.392zm-30.606-.716-.13.736.456-.004 1.056.014c.31.017.414-.08.468-.385L6.5 22.57v-.002l.592-3.308c.03-.171.094-.276.282-.33l.84-.254.946-.283c.935-.257 1.88-.458 2.86-.29.731.124 1.22.625 1.272 1.353.024.311.012.637-.042.946l-.938 5.265-.418 2.33-.254 1.457.49-.004 1.042.01c.286.013.382-.085.43-.355l.59-3.31.737-4.162.003-.013.318-2.565c.038-1.266-.771-2.278-2.02-2.572-.577-.136-1.198-.217-1.782-.158-.741.076-1.475.243-2.207.41l-.444.1c-.328.072-.65.173-.984.277l-.47.142v-.948l-.42.001c-.325.003-.64.004-.956-.005-.209-.006-.269.073-.303.266L4.22 24.64l-.408 2.275-.32 1.798zm34.575-12.392h1.658l-.022.317v.002l-.034.48c.84-.423 1.686-.74 2.584-.88.91-.138 1.798-.046 2.697.26l-.106.225-.003.005-.003.006-.002.005-.683 1.44c-.773-.27-1.541-.326-2.324-.139-.613.148-1.181.387-1.68.774-.49.38-.794.846-.902 1.477l-.957 5.4-.621 3.476c-.036.205-.1.288-.322.282l-1.137-.006-.495.002 2.076-11.584.276-1.542zM0 29.436h1.902l2.354-13.11H2.354L.54 26.432 0 29.436zM24.155 16.75l-.89 1.534c-1.218-.767-3.25-.815-4.427-.012-1.17.795-1.273 2.23-.032 2.866.378.193 1.297.552 1.79.655 2.334.576 3.761 1.714 3.781 3.728-.2 2.507-1.67 3.929-4.402 4.301a7.406 7.406 0 0 1-1.822.022c-2.796-.32-3.647-1.73-3.567-3.667h1.78c.24 1.314 1.039 2.119 2.89 1.967.557-.057 1.376-.272 1.8-.414 1.968-.661 2.066-2.935.206-3.746a12.231 12.231 0 0 0-2.004-.657c-1.145-.288-1.943-.779-2.484-1.426-.909-1.086-.895-2.645-.098-3.812 1.776-2.6 5.906-2.659 7.48-1.34z"></path>
          <path d="m36.105 17.755 10.534-8.063.01.042-10.406 8.195c-.049.037-.119.03-.157-.018s-.03-.116.018-.156zm-1.798.23-9.391-8.316.014-.052 9.597 8.119c.07.059.078.163.018.232a.17.17 0 0 1-.236.018s0-.002-.002-.002zm-2.01-8.989 2.492 7.505a.108.108 0 0 1-.07.138.11.11 0 0 1-.14-.069v-.002l-2.32-7.497.038-.075zm6.993.079-2.9 7.26c-.021.057-.087.083-.143.061s-.084-.086-.062-.142v-.002l3.079-7.24.025.063z" fill-rule="nonzero"></path>
        </g>
        <path d="M24.916 9.669c.9-3.495 5.845-3.774 7.34-.598 1.468-2.868 5.808-3.047 7.031.002 1.288-2.755 6.339-3.347 7.362.66-.033-2.21-.933-3.9-2.02-5.319C39.646-2.08 30.36-.844 26.826 4.47c-1.003 1.507-1.976 3.192-1.91 5.2z" fill="#d30017" fill-rule="nonzero"></path>
        <path d="M32.259 9.071c1.467-2.868 5.807-3.047 7.03.002C40.067 6.406 38.057.067 35.783 0c-2.036.067-4.376 5.544-3.523 9.071z" fill="#de4b3a" fill-rule="nonzero"></path>
      </svg>
    </a>
    <a href="https://www.injuredgadgets.com/axp/customer/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="146"
        height="29"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 146 29"
      >
        <g stroke="none">
          <path d="m144.91 18.574-58.183.1.014 8.463 58.184-.1-.015-8.463z" fill="#061a21" fill-rule="nonzero"></path>
          <path d="M103.539 24.466c.317.458.74.82 1.268 1.083s1.115.394 1.754.394c.645 0 1.229-.132 1.76-.394s.954-.625 1.268-1.083.476-.98.476-1.563-.162-1.105-.476-1.563-.739-.82-1.268-1.083a3.84 3.84 0 0 0-1.76-.4c-.639 0-1.223.135-1.754.4s-.954.622-1.268 1.083-.475.977-.475 1.563.161 1.103.475 1.563zm4.844-.642c-.201.254-.456.45-.776.583s-.67.204-1.046.201c-.369 0-.717-.07-1.04-.203s-.581-.332-.775-.59-.295-.56-.295-.915c0-.36.1-.664.295-.921s.453-.452.775-.586c.323-.14.668-.207 1.04-.207s.723.07 1.046.204.578.33.776.586c.194.251.294.561.294.924s-.1.667-.294.924zm-7.683 1.962-1.115-1.875h-1.702v1.875h-1.387v-5.772h3.49c.414 0 .772.086 1.073.251s.539.4.703.692.248.628.248 1.005c0 .4-.095.751-.289 1.055s-.431.525-.723.662l1.293 2.107H100.7zm-.258-3.296c.119-.126.18-.299.18-.525 0-.232-.066-.405-.194-.53a.633.633 0 0 0-.443-.185h-2.101v1.424h2.101a.628.628 0 0 0 .457-.184zM89.84 25.784v-5.77h3.49c.413 0 .772.087 1.072.251s.54.4.704.692.247.628.247 1.005c0 .564-.186 1.03-.567 1.396s-.865.55-1.457.55h-2.102v1.876H89.84zm3.945-3.294c.12-.126.18-.299.18-.525 0-.232-.066-.405-.194-.53a.631.631 0 0 0-.442-.184h-2.102v1.423h2.102a.621.621 0 0 0 .456-.184zm19.26 3.06c-.545-.263-.97-.626-1.279-1.084s-.464-.98-.464-1.563.156-1.105.464-1.563.734-.82 1.279-1.083 1.176-.4 1.891-.4c.467 0 .956.104 1.474.305s.934.48 1.256.823L116.757 22c-.208-.246-.481-.444-.826-.59s-.703-.22-1.079-.22c-.417 0-.786.067-1.112.207-.325.134-.584.329-.767.586s-.281.56-.281.92c0 .355.1.662.295.917s.453.452.781.588.687.204 1.084.204c.362 0 .701-.07 1.013-.217s.531-.324.661-.53h-1.857v-1.237h3.323v3.16h-1.388v-.277c-.417.287-.973.433-1.668.433-.715 0-1.346-.131-1.891-.394zm9.334-1.64 1.115 1.876h1.591l-1.293-2.107c.292-.137.531-.357.723-.662s.289-.656.289-1.055c0-.377-.084-.714-.248-1.005s-.4-.524-.703-.692-.659-.251-1.073-.251h-3.49v5.772h1.388v-1.875h1.701zm1.037-1.945c0 .226-.061.4-.18.525a.628.628 0 0 1-.456.184h-2.102V21.25h2.102a.63.63 0 0 1 .442.185c.128.125.194.298.194.53zm8.272 3.821-.609-1.25h-2.905l-.606 1.25h-1.482l2.875-5.775h1.334l2.878 5.775h-1.485zm-2.06-4.254-.856 1.767h1.71l-.854-1.767zm10.346 1.044v3.213h1.39v-5.775h-1.515l-1.985 3.749-1.983-3.75h-1.515v5.773h1.387v-3.21l1.443 2.582h1.335l1.443-2.582z" fill="#2eb67a"></path>
          <path d="m144.91 9.432-58.183.1.014 8.463 58.184-.1-.015-8.463z" fill="#061a21" fill-rule="nonzero"></path>
          <path d="M131.533 16.092c-.49-.234-.871-.561-1.146-.971s-.417-.88-.417-1.404.139-.991.417-1.402.656-.737 1.146-.971c.489-.24 1.053-.357 1.696-.357.419 0 .856.092 1.32.273s.837.43 1.126.74l-.817.907c-.186-.22-.431-.399-.74-.53s-.631-.198-.967-.198c-.376 0-.706.061-.998.184s-.523.296-.69.525-.25.502-.25.826c0 .318.089.592.264.823s.406.405.701.53c.292.12.617.182.97.182.325 0 .628-.064.909-.195s.476-.29.595-.475h-1.668v-1.108h2.981v2.833h-1.246v-.248c-.375.26-.873.388-1.496.388-.637 0-1.201-.117-1.69-.352zm-28.061 0c-.475-.24-.851-.561-1.12-.974s-.404-.877-.404-1.399.134-.99.398-1.4.631-.738 1.101-.972c.47-.24 1.009-.358 1.627-.358.406 0 .828.093 1.268.274.433.181.789.43 1.067.74l-.795.912c-.178-.223-.4-.402-.67-.533s-.564-.198-.893-.198c-.364 0-.689.062-.97.184s-.509.296-.67.525-.245.503-.245.826.084.598.245.824.384.405.67.53c.284.12.606.182.97.182.262 0 .534-.053.818-.162s.528-.296.74-.559l.803.922a3.68 3.68 0 0 1-1.101.756 3.03 3.03 0 0 1-1.184.24c-.626-.008-1.179-.126-1.655-.36zm-4.916-1.412 1.474 1.624h1.749l-2.352-2.579 2.352-2.602h-1.696l-1.518 1.658-1.513-1.658h-1.715l2.36 2.605-2.36 2.576h1.748l1.471-1.624zm-8.716-3.557V16.3h4.601v-1.11h-3.356v-.925h2.797v-1.108h-2.797v-.926h3.356v-1.108H89.84zm23.25 3.146v2.035h1.245v-5.18h-1.245v2.037h-3.228v-2.038h-1.246v5.181h1.246V14.27h3.228zm7.482 2.035-.545-1.122h-2.608l-.542 1.122h-1.332l2.578-5.18h1.198l2.58 5.18h-1.329zm-1.849-3.816-.767 1.586h1.535l-.768-1.586zm5.583.199 3.053 3.617h1.421v-5.18h-1.246v3.617l-3.056-3.618h-1.418v5.181h1.246v-3.617zm13.029-1.564V16.3h4.602v-1.11h-3.356v-.923h2.797v-1.109h-2.797v-.926h3.356v-1.109h-4.602z"></path>
          <path d="m144.91.29-58.183.1.014 8.463 58.184-.099-.015-8.463z" fill="#061a21" fill-rule="nonzero"></path>
          <path d="M124.47 5.976a2.87 2.87 0 0 0 1.151 1.002c.49.24 1.057.363 1.699.36.42 0 .823-.08 1.215-.245s.77-.422 1.132-.776l-.826-.946c-.217.268-.47.457-.759.572s-.57.167-.837.167c-.375 0-.709-.061-.998-.187s-.52-.31-.687-.544-.25-.514-.25-.843.083-.617.25-.849.395-.413.687-.538.623-.19.998-.19a2.022 2.022 0 0 1 1.602.75l.814-.934c-.283-.319-.648-.573-1.095-.76s-.884-.282-1.301-.282c-.632 0-1.188.12-1.669.366s-.859.578-1.131 1-.409.901-.409 1.44.136 1.016.414 1.437zM97.183 1.878v5.318h2.933a3.28 3.28 0 0 0 1.477-.327c.442-.22.798-.53 1.062-.926s.397-.868.397-1.404-.133-1.005-.397-1.404-.62-.712-1.062-.927a3.32 3.32 0 0 0-1.477-.33h-2.933zm4.373 3.462c-.147.226-.347.402-.597.527s-.531.19-.84.19h-1.657v-3.04h1.657c.309 0 .589.065.84.19s.45.302.597.53.223.495.223.802-.075.572-.223.8zm-7.198.703.561 1.153h1.366l-2.65-5.317h-1.229l-2.647 5.317h1.365l.556-1.153h2.678zm-2.124-1.136.79-1.627.783 1.627h-1.573zm14.013 2.289L103.6 1.879h1.482l1.799 3.893 1.905-3.894h1.34l-2.65 5.318h-1.229zm7.888-1.153.562 1.153h1.365l-2.65-5.317h-1.229l-2.647 5.317h1.366l.556-1.153h2.677zm-2.124-1.136.79-1.627.784 1.627h-1.574zm9.548 2.289-3.133-3.715v3.715h-1.279V1.879h1.457l3.136 3.715V1.878h1.279v5.318h-1.46zm9.337 0V1.879h4.724v1.138h-3.445v.952h2.872v1.14h-2.872v.948h3.445v1.139h-4.724zm8.608-5.317h-2.93V3.02h2.933c.309 0 .589.062.84.19s.45.304.597.53.223.494.223.801-.075.575-.223.802-.347.402-.597.527-.531.19-.84.19h-1.657l.003-2.158-1.282.003v3.291h2.933a3.29 3.29 0 0 0 1.477-.33c.442-.22.798-.527 1.062-.926s.397-.865.397-1.401-.133-1.005-.397-1.404-.62-.71-1.062-.93a3.333 3.333 0 0 0-1.477-.327z" fill="#2eb67a"></path>
          <g fill-rule="nonzero">
            <path d="M33.182 26.694h-8.828L48.63 0l8.825.008-24.273 26.686z" fill="#138847"></path>
            <path d="m40.909 8.489 4.43 4.842L57.454.008 48.63 0l-7.72 8.489z" fill="#138847"></path>
            <path d="m40.859 18.255-4.396-4.873-12.11 13.311h8.829l7.677-8.438z" fill="#138847"></path>
            <path d="M8.98 26.694H0L24.354.008h8.797l24.407 26.686h-9.095L28.813 4.896 8.982 26.694z" fill="#2fb677"></path>
            <path d="M64.103 26.694h-6.545V.006H74.08c5.352 0 8.922 4.02 8.922 8.957s-3.69 8.957-8.922 8.957h-9.977v8.774zm0-14.446h9.526c1.805 0 3.014-1.473 3.014-3.282s-1.212-3.283-3.014-3.283h-9.526v6.565z" fill="#061a21"></path>
          </g>
        </g>
      </svg>
    </a>
  </div>
</section>
