<section id="main">
  <div class="featured-menu">
    <a href="https://www.injuredgadgets.com/quality-standards/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 21 20"
      ></svg>
      <span>Quality Standards</span>
    </a>
    <a href="https://www.injuredgadgets.com/shipping-policy/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="39"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        viewBox="0 0 39 20"
      ></svg>
      <span>Shipping</span>
    </a>
    <a href="https://www.injuredgadgets.com/return_policy/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="19"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 19 20"
      ></svg>
      <span>Warranties &amp; Returns</span>
    </a>
    <a href="https://www.injuredgadgets.com/buyback/customer/lcdbuyback/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 13 20"
      ></svg>
      <span>LCD Buyback</span>
    </a>
    <a href="https://www.repairdesk.co/injured-gadgets-integration">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 20 20"
      ></svg>
      <span>POS Integration</span>
    </a>
    <a href="https://www.injuredgadgets.com/finance/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 20 20"
      ></svg>
      <span>Financing</span>
    </a>
    <a href="https://www.injuredgadgets.com/glass-grip/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13"
        height="20"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 13 20"
      ></svg>
      <span>Screen Protection</span>
    </a>
    <a href="https://l6b9e7jk5c0.typeform.com/to/SbEBxgBn?typeform-source=www.injuredgadgets.com">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 20 20"
      ></svg>
      <span>New Product Request</span>
    </a>
    <a href="https://www.injuredgadgets.com/blog/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill-rule="evenodd"
        viewBox="0 0 22 20"
      ></svg>
      <span>Blog</span>
    </a>
  </div>
  <div class="featured-herobanner">
    <div class="hbr-content hbr-slider owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div
          class="owl-stage"
          style="transform: translate3d(-6083px, 0px, 0px); transition: all 0.25s ease 0s; width: 7821px;"
        >
          <div class="owl-item cloned" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/premium-refurbished/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OLED Assemblies for all iPhone 15 Models! Now In Stock!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="sync"
                    fetchpriority="high"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-6 item">
              <a href="https://discord.com/invite/TVuAzBN">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/October/Dis_05_Mobile.jpg?width=768&amp;height=400"
                    alt="Discord"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/search/?q=iphone service pack battery">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Mobile.jpg?width=768&amp;height=400"
                    alt="Nasan Screen Remover!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/accessories/oem-pulls/macbook-chargers/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/MMG_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OEM MacBook Adapter Pulls!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://docs.google.com/spreadsheets/d/1WCA8tS2cTy7oLhn8G6WzATVTAXHR-7OzBknM6E7hN0Q/edit?usp=sharing">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/BF_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/BF_00_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/BF_00_Mobile.jpg?width=768&amp;height=400"
                    alt="LCD and OLED Buyback prices have gone up!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/premium-refurbished/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/IP15A_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OLED Assemblies for all iPhone 15 Models! Now In Stock!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="sync"
                    fetchpriority="high"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-6 item">
              <a href="https://discord.com/invite/TVuAzBN">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/October/Dis_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/October/Dis_05_Mobile.jpg?width=768&amp;height=400"
                    alt="Discord"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item cloned active" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/search/?q=iphone service pack battery">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/SPB_00_Mobile.jpg?width=768&amp;height=400"
                    alt="Nasan Screen Remover!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 859px; margin-right: 10px;">
            <div class="slider-content__item image-1 item">
              <a href="https://www.injuredgadgets.com/accessories/oem-pulls/macbook-chargers/">
                <picture>
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_00_website.jpg?width=900&amp;height=450"
                    media="(min-width: 1024px)"
                    width="900"
                    height="450"
                  >
                  <source
                    srcset="https://www.injuredgadgets.com/media/assets/2023/November/MMG_04_Tablet.jpg?width=1024&amp;height=400"
                    media="(min-width: 768px)"
                    width="1024"
                    height="400"
                  >
                  <img
                    src="https://www.injuredgadgets.com/media/assets/2023/November/MMG_05_Mobile.jpg?width=768&amp;height=400"
                    alt="OEM MacBook Adapter Pulls!"
                    width="768"
                    height="400"
                    loading="eager"
                    decoding="async"
                    fetchpriority="auto"
                  >
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="display: none;">prev</div>
          <div class="owl-next" style="display: none;">next</div>
        </div>
        <div class="owl-dots" style="">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
    <script>
      require(['jquery', 'cpowlcarousel'], function ($) {
        jQuery(document).ready(function () {
          jQuery('.hbr-slider').owlCarousel({
            items: 1,
            loop: true,
            dots: true,
            nav: false,
            margin: 10,
            autoplay: true,
            lazyLoad: true,
          });
        });
      });
    </script>
  </div>
  <div class="featured-brands">
    <a href="#">
      <h2>Unique Brands to us</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="179"
        height="47"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 179 47"
      ></svg>
    </a>
    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="78"
        height="20"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        viewBox="0 0 78 20"
      ></svg>
    </a>
    <a href="https://www.injuredgadgets.com/apple/iphone/iphone-mini-quick-shop/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="83"
        height="31"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 83 31"
      ></svg>
    </a>
    <a href="https://www.injuredgadgets.com/tools-equipment/brands/grip-tools/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="147"
        height="34"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#de1e24"
        viewBox="0 0 147 34"
      ></svg>
    </a>
    <a href="https://www.injuredgadgets.com/clearplex-express-starter-kit/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="146"
        height="29"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 146 29"
      ></svg>
    </a>
    <a href="https://www.injuredgadgets.com/accessories/mini-quick-shop/brands/top-brands/insured-gadgets/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="67"
        height="43"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 67 43"
      ></svg>
    </a>
    <a href="https://www.injuredgadgets.com/axp/customer/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="146"
        height="29"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="#fff"
        fill-rule="evenodd"
        viewBox="0 0 146 29"
      ></svg>
    </a>
  </div>
</section>
